dev-tools-guide()
  content ''
  position absolute
  opacity 0.3
  background-color cyan

dev-tools-guide-h()
  left 0
  top 50%
  size 100% 1px
  dev-tools-guide()

dev-tools-guide-v()
  left 50%
  top 0
  size 1px 100%
  dev-tools-guide()