extends ../layout
append vars
  - title = 'The Pirate Bay Proxy'
  - description = 'La Bahía Pirata es un sitio que sirve de proxy para descargar contenido de ThePirateBay.se. Encuentra exactamente el mismo contenido que en The Pirate Bay.'

+seoTags({
  url: 'http://labahiapirata.com',
  title: title,
  description: description
})
