.results-table
  padding: 20px 7px 5px
  width: 100%
  th, td
    padding: 5px
  th
    font-weight: bold
  td
    padding-top: 10px
    border-bottom: 1px solid marronClaro
    line-height: 1.2
  tbody
    tr
      &:hover
        background-color: marronClaro
  .title
    overflow: ellipsis
  .size
    color: marron
    font-size: .8em
    font-weight: bold