@font-face {
	font-family: 'Quattrocento';
	font-style: normal;
	font-weight: 400;
	src:
		local('Quattrocento'),
		local('  src: local('Quattrocento'), url(http://fonts.gstatic.com/s/quattrocento/v7/WZDISdyil4HsmirlOdBRFInF5uFdDttMLvmWuJdhhgs.ttf) format('truetype');'),
		/* from http://fonts.gstatic.com/s/quattrocento/v7/WZDISdyil4HsmirlOdBRFHZ2MAKAc2x4R1uOSeegc5U.eot */
		url('Quattrocento_400.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/quattrocento/v7/WZDISdyil4HsmirlOdBRFHhCUOGz7vYGh680lGh-uXM.woff */
		url('Quattrocento_400.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/quattrocento/v7/WZDISdyil4HsmirlOdBRFInF5uFdDttMLvmWuJdhhgs.ttf */
		url('Quattrocento_400.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=WZDISdyil4HsmirlOdBRFFlIn5tFQcqMuf-jhyJP0ps&skey=b064ec65918f184#Quattrocento */
		url('Quattrocento_400.svg#Quattrocento') format('svg');
}
@font-face {
	font-family: 'Quattrocento';
	font-style: normal;
	font-weight: 700;
	src:
		local('Quattrocento Bold'),
		local('Quattrocento-Bold'),
		/* from http://fonts.gstatic.com/s/quattrocento/v7/Uvi-cRwyvqFpl9j3oT2mqmmsoyWrDyoltQVIP7q_RGg.eot */
		url('Quattrocento_700.eot?#iefix') format('embedded-opentype'),
		/* from http://fonts.gstatic.com/s/quattrocento/v7/Uvi-cRwyvqFpl9j3oT2mqnl4twXkwp3_u9ZoePkT564.woff */
		url('Quattrocento_700.woff') format('woff'),
		/* from http://fonts.gstatic.com/s/quattrocento/v7/Uvi-cRwyvqFpl9j3oT2mqn06qf9KHRHwsVx7iw5MXmY.ttf */
		url('Quattrocento_700.ttf') format('truetype'),
		/* from http://fonts.gstatic.com/l/font?kit=Uvi-cRwyvqFpl9j3oT2mqgay50PuN8loMJ9QAXsTs7U&skey=c1bc25b9907ab4a8#Quattrocento */
		url('Quattrocento_700.svg#Quattrocento') format('svg');
}
