block vars
doctype html
html(lang='es', prefix='og: http://ogp.me/ns#')
  head
    title #{title ? title + ' | ' : ''}La Bahía Pirata
    //- meta(name='viewport', content='width=device-width, user-scalable=no')
    include partials/seo-tags
    block meta
  body
    header
      h1 La Bahía Pirata
      form(action='/search')
        input(type='search', name='query', value=locals.query, title='Búsqueda Pirata', placeholder='Búsqueda Pirata', autofocus=true)
        button(type='submit') Buscar
    block content
    block bottom
    include partials/google-analytics