block vars
doctype html
html(lang='es', prefix='og: http://ogp.me/ns#')
  head
    title #{title ? title + ' | ' : ''}La Bahía Pirata
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    include partials/seo-tags
    block meta
  body(class=(locals.bodyClass || ''))
    header
      label(for='search-query')
        h1
          span.t La Bahía Pirata
          span.h |
          span.h.th The Pirate Bay Proxy
      form(action='/search', onsubmit='if( !this.elements.query.value ) { location = \'/\'; return false }')
        .input-wrapper
          input(id='search-query', type='text', name='query', value=locals.query, title='Búsqueda Pirata', autofocus=true)
        button(type='submit') Buscar
    block content
    block bottom
    include partials/google-analytics
    link(rel='stylesheet', type='text/css', href='/css/app.css')